#!/bin/sh

##!/usr/bin/env bash
#set up dual monitors with this profile
#https://wiki.ubuntu.com/X/Config/Resolution#How_to_setup_a_dual_monitor

SAMSUNG=HDMI-0
DELL=DVI-0

#Make the Dell the primary monitor
xrandr --output $DELL --primary

#set Samsung to the right of Dell
xrandr --output $SAMSUNG --right-of $DELL

#correct the resolution on the Samsung
xrandr --output $SAMSUNG --auto
# xrandr --output $DELL --auto

# set up desktop wallpapers
# in order for this to work in LXDE, PCManFM managing the desktop must be disabled
# Start->Preferences->Default applications for LXSession->Core Applications
# Change Desktop Manager from 'filemanager' to a blank box
feh --randomize --bg-fill /mnt/Stuff/Pictures/*
# pcmanfm -w "$(find /mnt/Stuff/Pictures -type -f | shuf -n1)"

# start compton
# Starting compton here is breaking stuff
# compton
