[alias]
	# using a function mostly so I can use `git lg` or `git lg --oneline`
	lg = "!git log --graph --all --decorate --date=relative \"$@\""
	ls = ls-files
	erase-remote-branch = push -d origin
	numlineschanged = diff --stat
	# if nvim isn't installed, use:
	#   git difftool --no-prompt --extcmd 'vim -d "+colorscheme morning"'
	# already have gruvbox plugin as a really good diffing colorscheme
	vimdiff = difftool --no-prompt --extcmd 'nvim -d'
[color]
	ui = true
[core]
	excludesfile = ~/.config/gitignore_global

	# The following are for https://github.com/dandavison/delta
	# pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='zenburn'
	# pager = delta --theme='zenburn' --dark
[credential "https://github.com"]
	helper = store
	username = bbkane
[init]
	defaultBranch = master
[interactive]
	diffFilter = delta --color-only
[push]
	default = simple
[user]
	name = Benjamin Kane
	email = bbk1524@gmail.com

# This is primarily for setting user.email differently at work
# and needs to go at the bottom so it overwrites above settings
[include]
	path = ~/.gitconfig.local

# Override potential ~/.gitconfig.local for personal git directory
# within work machine
[includeIf "gitdir/i:~/Git-personal/"]
	path = ~/.gitconfig.personal
