# ignore the symlink to common/.vimrc for nvim
*.pyc
*.swp
.DS_Store
.mypy_cache/
chart.*.html
litecli/.config/litecli/history
litecli/.config/litecli/log
nvim/.config/nvim/autoload/plug.vim
nvim/.config/nvim/autoload/plug.vim.old
tmp*
