.DS_Store
common/.vim/bundle
common/.vim/tmp
common/.vim/.netrwhist
lubuntu/.local/share/applications/chrome*
lubuntu/.local/share/applications/mimeapps.list
# Linux Mint's cmake
common/bin/cmake-3.4.0-Linux-x86_64/
*.pyc
# ignore the symlink to common/.vimrc for nvim
common/.vim/init.vim
common/.vim/sessions/
neovim/.config/nvim/bundle
.vagrant
change-name.sh
