# ignore the symlink to common/.vimrc for nvim
*.pyc
*.swp
.DS_Store
.mypy_cache/
chart.*.html

litecli/.config/litecli/history
litecli/.config/litecli/log
litecli/dot-config/litecli/history
litecli/dot-config/litecli/log

nvim-01-vimscript/dot-config/nvim/.netrwhist
nvim-01-vimscript/dot-config/nvim/autoload/plug.vim*
nvim-01-vimscript/dot-config/nvim/bundle/
nvim-01-vimscript/dot-config/nvim/spell/
nvim-01-vimscript/dot-config/nvim/swap/


nvim-02-lua/dot-config/nvim/.netrwhist
nvim-02-lua/dot-config/nvim/plugin/
nvim-02-lua/dot-config/nvim/spell/
nvim-02-lua/dot-config/nvim/stdpath_data/
nvim-02-lua/dot-config/nvim/swap/

nvim-03-lazy/dot-config/nvim/.netrwhist
nvim-03-lazy/dot-config/nvim/plugin/
nvim-03-lazy/dot-config/nvim/spell/
nvim-03-lazy/dot-config/nvim/stdpath_data/
nvim-03-lazy/dot-config/nvim/swap/


tmp*
