[user]
	name = Benjamin Kane
[credential "https://github.com"]
	username = bbkane
[push]
	default = simple
[alias]
	lg = log --graph --all --decorate --pretty --date=relative
	ls = ls-files
[color]
	ui = true

# This is primarily for setting user.email differently at work
[include]
	path = ~/.gitconfig.local
